:root {
    --primary-color: #267bbc;
    --primary-color-light: #00b3ca;
    --primary-color-dark: #114e7b;

    --body-color-dark: #e2e8f0;
    --body-color-light: #fff;
    /* margin padding */
    --margin-bottom-small: .5rem;
    --margin-bottom-medium: 1rem;
    --margin-bottom-big: 2rem;

    /* heading font size */
    --heading-primary: 3rem;
    --heading-secondary: 2rem;
    --heading-tertiary: 1rem;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* gap: 4px; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* aside logo */
.aside {
    background-color: var(--primary-color);
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    row-gap: 5rem;
    grid-template-rows: 5rem auto auto;
    padding-top: 2rem;

}
.dashboard-logo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    color: white;
    width: 100%;
    height: auto;
    margin-bottom: var(--margin-bottom-big);
    padding-left: 2rem;
}
.dashboard-logo__logo {
    font-size: 4rem;
}
.dashboard-logo__heading {
    font-size: var(--heading-secondary);
}
/* end of aside logo */

/* nav lists */

.aside__navigation-container:first-child {
    margin-bottom: calc(var(--margin-bottom-big) + 4rem);
}

.aside__list {
    text-align: left;
    list-style: none;
    text-decoration: none;
}
.aside__list li {
    padding: .5rem 0 .5rem 3rem;
}
.aside__list li:hover {
    border-left: .5rem solid var(--primary-color-dark);
    background-color: #479cdc;
}
.aside__list li:not(:last-child) {
    margin-bottom: var(--margin-bottom-medium);
}

.aside__list li > a{
    display: flex;
    gap: 2rem;
    text-decoration: none;
    color: white;
    font-size: var(--heading-secondary);

}

/* end of aside css */

/* start of header css */
.header {
    background-color: var(--body-color-light);
    padding: 2rem 5rem;
    height: auto;
    border-bottom: 5px solid #ccd1d8;
}

.header__section-1 {
    display: grid;
    grid-template-columns: 66% auto auto;
    align-items: center;
    margin-bottom: var(--margin-bottom-big);

}
.header__search-bar {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2rem;
}
.header__search-bar-icon {
    color: black;
    font-size: var(--heading-primary);
    width: auto;
}
.header__search-bar-icon:hover {
    cursor: pointer;
}
.header__search-bar-input {
    width: 85%;
    height: 3rem;
    background-color: var(--body-color-dark);
    border: none;
    border-radius: 25px;
    padding-left: 1.5rem;
}
.header__search-bar-input:focus {
    outline: none;
    box-shadow: inset .5rem .5rem 2rem rgba(0, 0, 0, .1);
}

.header__notification {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__notification span {
    color: black;
    font-size: var(--heading-primary);
}
.header__notification a {

}
.header__notification a:hover {
    animation-name: bellShake;
    animation-duration: 1s;
}

/* animation for bell icon */
@keyframes bellShake {
    0% {
        transform: rotateZ(0);
    }
    12.5% {
        transform: rotateZ(30deg);    
    }
    25% {
        transform: rotateZ(-30deg);
    }
    37.5% {
        transform: rotateZ(30deg);
    }
    50% {
        transform: rotateZ(-30deg);
    }
    62.5% {
        transform: rotateZ(30deg);
    }
    75% {
        transform: rotateZ(-30deg);
    }
    /* 87.5% {
        transform: rotateZ(-30deg);
    } */
    100% {
        transform: rotateZ(0);
    }
}

.logo-box {
    background-color: var(--body-color-light);
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 2rem;
    align-items: center; }
    .logo-box__img {
      width: 8rem;
      user-select: none; }
    .logo-box__header {
      font-family: 'Orbitron', sans-serif, monospace;
      font-size: 1.5rem;
      color: #777;
      font-weight: 700;
      user-select: none; }
  .logo-box__img--2 {
    width: 14rem;
  }
  .logo-box__header--2 {
    font-size: var(--heading-primary);
  }
  .logo-box__paragraph {
    text-align: left;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif, monospace;
    font-weight: 600;
  }

.header__section-2 {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto 10% 10% 10%;
    align-items: center;
}
.header__btn {
    background-color: var(--primary-color);
    color: #fff;
    height: 4rem;
    width: 100%;
    border-radius: 25px;
    border: none;
    font-weight: 700;
    transition: all .1s;
}
.header__btn:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background-color: #479cdc;

}
/* end of header css */

/* start of main css */
.main {
    grid-column: 2/3;
    background-color: var(--body-color-dark);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2rem 2rem 4rem 2rem;
    gap: 2rem;
    /* height: 43rem; */
}

.main__section-projects > h1 {
    text-align: left;
    font-size: var(--heading-primary);
    font-weight: 500;
    margin-bottom: var(--margin-bottom-medium);
}
.projects-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.card {
    height: auto;
    background-color: white;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .1);
    border-left: 1rem solid var(--primary-color-light);
    border-radius: 1rem;
    padding: 2rem 2rem 6rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.card__heading, .card__paragraph {
    align-self: flex-start;
    text-align: left;
}
.card__img {
    width: 100%;
    height: 27rem;
}
.card__icons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
 
}
.card__icons-container span {
    font-size: var(--heading-secondary);
    color: black;
}




.main__section-messages {
    display: grid;
    grid-template-rows: 45rem 45rem auto;
    height: auto; 
}

.main__announcements {
    margin-bottom: var(--margin-bottom-small);
}
.main__announcements, .main__trending {
    height: auto;
}
.main__announcements > h1, .main__trending > h1 {
    font-size: var(--heading-primary);
    font-weight: 500;
    margin-bottom: var(--margin-bottom-medium);
    text-align: left;
}
.announcements-container, .trending-container {
    padding: 2rem;
    background-color: white;
    display: grid;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .1);
}
.announcements-container__div:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--body-color-dark);
}
.announcements-container__div {
    text-align: left;
}
.announcements-container__heading {
    margin-bottom: 5px;
}

.trending-container > div {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}
.trending-container__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.trending-container__text > h3 > a {
    text-decoration: none;
    border: none;
    color: black;
}
.trending-container__text {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
/* end of main section */

/* start of footer */


.footer {
    background-color: white;
    grid-column: 1/3;
}

footer {
    padding: 36px;
    text-align: center;
    font-size: 25px;
  }

  footer a {
    text-decoration: none;
    color: black;
  }

  footer img {
    width: 25px;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 5px;
  }

  footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
  }
