:root {
    --primary-color: #267bbc;
    --primary-color-light: #00b3ca;
    --primary-color-dark: #114e7b;

    --body-color-dark: #e2e8f0;
    --body-color-light: #fff;
    /* margin padding */
    --margin-bottom-small: .5rem;
    --margin-bottom-medium: 1rem;
    --margin-bottom-big: 2rem;

    /* heading font size */
    --heading-primary: 3rem;
    --heading-secondary: 2rem;
    --heading-tertiary: 1rem;
}

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* gap: 4px; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* aside logo */
.aside {
    background-color: var(--primary-color);
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    row-gap: 5rem;
    grid-template-rows: 5rem auto auto;

}
.dashboard-logo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    color: white;
    width: 100%;
    height: auto;
    margin-bottom: var(--margin-bottom-big);
    padding-left: 2rem;
}
.dashboard-logo__logo {
    font-size: 5rem;
}
.dashboard-logo__heading {
    font-size: var(--heading-primary);
}
/* end of aside logo */

/* nav lists */

.aside__navigation-container:first-child {
    margin-bottom: var(--margin-bottom-big);
}

.aside__list {
    text-align: left;
    list-style: none;
    text-decoration: none;
}
.aside__list li {
    padding-left: 3rem;
}
.aside__list li:hover {
    border-left: .5rem solid var(--primary-color-dark);
    background-color: #479cdc;
}
.aside__list li:not(:last-child) {
    margin-bottom: var(--margin-bottom-small);
}

.aside__list li > a{
    display: flex;
    gap: .5rem;
    text-decoration: none;
    color: white;
    font-size: var(--heading-secondary);

}



.footer {
    background-color: lightgreen;
    grid-column: 2/3;
}
/* end of aside css */

/* start of header css */
.header {
    background-color: var(--body-color-light);
    padding: 2rem 5rem;
    height: auto;
    border-bottom: 5px solid #ccd1d8;
}

.header__section-1 {
    display: grid;
    grid-template-columns: 66% auto auto;
    align-items: center;
    margin-bottom: var(--margin-bottom-big);

}
.header__search-bar {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2rem;
}
.header__search-bar-icon {
    color: black;
    font-size: var(--heading-primary);
    width: auto;
}
.header__search-bar-input {
    width: 85%;
    height: 3rem;
    background-color: var(--body-color-dark);
    border: none;
    border-radius: 25px;
    padding-left: 1.5rem;
}
.header__search-bar-input:focus {
    outline: none;
}

.header__notification {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__notification > span {
    color: black;
    font-size: var(--heading-primary);
}

.logo-box {
    background-color: var(--body-color-light);
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 2rem;
    align-items: center; }
    .logo-box__img {
      width: 8rem;
      user-select: none; }
    .logo-box__header {
      font-family: 'Orbitron', sans-serif, monospace;
      font-size: 1.5rem;
      color: #777;
      font-weight: 700;
      user-select: none; }
  .logo-box__img--2 {
    width: 14rem;
  }
  .logo-box__header--2 {
    font-size: var(--heading-primary);
  }
  .logo-box__paragraph {
    text-align: left;
    font-size: 1rem;
    font-family: 'Orbitron', sans-serif, monospace;
    font-weight: 600;
  }

.header__section-2 {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto 10% 10% 10%;
    align-items: center;
}
.header__btn {
    background-color: var(--primary-color);
    color: #fff;
    height: 4rem;
    width: 100%;
    border-radius: 25px;
    border: none;
    font-weight: 700;
}
.header__btn:hover {
    cursor: pointer;

}
/* end of header css */

/* start of main css */
.main {
    grid-column: 2/3;
    background-color: var(--body-color-dark);
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2rem;
    gap: 2rem;
}

.main__section-projects {
    background-color: lightgoldenrodyellow;
}
.main__section-projects > h1 {
    text-align: left;
    font-size: var(--heading-primary);
    font-weight: 500;
    margin-bottom: var(--margin-bottom-medium);
}
.projects-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.card {
    height: 200px;
    background-color: lightseagreen;
    border-radius: 1rem;
}




.main__section-messages {
    background-color: lightcoral;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.main__announcements {
    border: 2px solid red;
    margin-bottom: var(--margin-bottom-big);
    
}
.main__announcements > h1 {
    font-size: var(--heading-primary);
    font-weight: 500;
    margin-bottom: var(--margin-bottom-medium);
}

.main__trending {
    border: 2px solid lightgreen;
}
.main__trending > h1 {
    font-size: var(--heading-primary);
    font-weight: 500;
    margin-bottom: var(--margin-bottom-medium);
}

