*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: inherit;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.aside {
    background-color: lightseagreen;
    grid-column: 1/2;
    grid-row: 1/4;
}

.header {
    background-color: lightcoral;
    grid-column: 2/3;
}

.main {
    background-color: lightblue;
    grid-column: 2/3;
}

.footer {
    background-color: lightgreen;
    grid-column: 2/3;
}